@using Tech2023.Web.ViewComponents;
@model SearchResults
@{
    ViewData["Title"] = $"Results for {Model.Query}";
}

<vc:sidebar></vc:sidebar>

<div id="search-results" class="py-2 px-3 overflow-y-auto" style="height: calc(100dvh - var(--navbar-height, 0rem))">
    @if (Model.Results.Count == 0)
    {
        <h1>No Results Found for <strong>@Model.Query</strong></h1>
    }
    else
    {
        <h1>Results for <strong>@Model.Query</strong></h1>
        <div id="results" class="flex flex-col font-semibold space-y-2">
            @foreach (var item in Model.Results)
            {
                <a class="underline hover:no-underline" href="@item.Url">
                    <h3>@item.Name</h3>
                </a>
            }
        </div>
    }
</div>