@using Tech2023.Web.ViewComponents;
@model SearchResults
@{
    ViewData["Title"] = $"Results for {Model.Query}";
}

<vc:sidebar></vc:sidebar>

<div id="search-results" class="py-2 px-3">
    @if (Model.Results.Count == 0)
    {
        <h1>No Results Found for <b>@Model.Query</b></h1>
    }
    else
    {
        @foreach (var item in Model.Results)
        {
            <a href="@item.Url">@item.Name</a>
        }
    }
</div>