@{
    ViewData["Title"] = "Paper Viewer";
    var sidebarWidth = "256px";
}

<div>
    <aside class="sidebar fixed left-0 max-h-screen h-screen z-40 bg-secondary justify-end" style="width: @sidebarWidth;">
        <div class="flex flex-row container">
            <input type="text" name="search" placeholder="Search" id="search-bar" class="bg-background rounded py-2  my-auto active: outline-none w-auto">
            <button class="material-symbols-rounded relative navbar-toggler p-4" type="button" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation">
               keyboard_arrow_left
            </button>
        </div>
    </aside>
</div>