@{
    ViewData["Title"] = "Home Page";
}

<div class="container m-auto text-center p-4">
    <h1>Welcome to Tech2023!</h1>
    <a class="hover:underline" asp-controller="App" asp-action="Home">Continue to app</a>
</div>
