@{
    ViewData["Title"] = "Home Page";
}

<div class="container m-auto text-center p-10">
    <p class="text-3xl">Welcome to Tech2023!</p>
    <div class="py-4">
        <button class="bg-primary px-4 py-2 rounded">Register</button>
        <button class="bg-primary px-4 py-2 rounded">Log In</button>
    </div>
    <a class="hover:underline" asp-controller="Home" asp-action="App">Continue to app</a>
</div>