@{
    ViewData["Title"] = "Home Page";
}

<div class="container m-auto text-center p-10">
    <p class="text-3xl">Welcome to Tech2023!</p>
    <a class="hover:underline" asp-controller="App" asp-action="Home">Continue to app</a>
</div>

<button onclick="TS.statistics.isApiUp()">Test</button>