@using Tech2023.DAL.Models
@model PrivacyPolicy

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="m-auto p-4 overflow-y-auto">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p>@Model.Content</p>
</div>
