@{
    ViewData["Title"] = "Settings";
}

<vc:sidebar></vc:sidebar>

<div class="py-2 px-3">
    <h1>Settings</h1>

    <div id="account" class="md:px-2">
        <h2>My Account</h2>

        <div id="user" class="max-w-5xl bg-secondary p-4 md:p-6 my-2 border-2 border-light-hint/50 rounded-2xl">
            <div class="flex flex-row items-center space-x-3">
                <span class="icon text-6xl font-light">account_circle</span>
                <div class="font-bold">
                    <h6 class="text-light-hint leading-none">Logged In as:</h6>
                    <h4 class="leading-none">@User!.Identity!.Name</h4>
                </div>
            </div>
            <div id="account-actions">
                <h5 class="ml-2 font-bold">Account Actions:</h5>
                <div class="flex flex-col space-y-1 bg-background font-semibold px-3 rounded-xl">
                    <div id="delete-account" class="flex flex-row items-center justify-between my-1 py-1">
                        <h5>Delete My Account</h5>
                        <button id="delete-account-button"
                            onclick="interactions.dialog.showDialog('delete-account-modal', true)"
                            class="inline-flex hover:bg-red-500/90 text-red-500 hover:text-white p-2 pr-3 rounded-lg">
                            <span class="icon-sm mr-1">delete</span>
                            Delete
                        </button>

                        <dialog id="delete-account-modal" class="w-9/12 lg:w-1/2">
                            <h3>Delete the account <strong class="underline">@User!.Identity!.Name</strong>?</h3>
                            <br />
                            <h4>By clicking yes, you understand that your account and your data will be deleted and not
                                able to
                                be
                                restored</h4>
                            <form method="post" asp-controller="Account" asp-action="Delete"
                                class="w-full flex flex-row justify-end mt-4 space-x-4">
                                <button formmethod="dialog" type="submit" class="p-2 hover:underline">
                                    Go
                                    back!
                                </button>
                                <button class="inline-flex bg-red-500/90 p-2 rounded-lg" type="submit">
                                    Yes, Delete My Account
                                </button>
                            </form>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>