@{
    Layout = "_Layout";
}

<div id="app-container" class="grid grid-cols-[auto] md:grid-cols-[min-content_auto] h-full">
    <vc:sidebar></vc:sidebar>
    <div>
        @RenderBody()
    </div>
</div>