@{
    ViewData["Title"] = "Paper Viewer";
}

<div class="flex flex-row h-full">
    <div class="">
        <vc:sidebar>
        </vc:sidebar>
    </div>
    <div class="pl-20 sm:ml-0 w-full">
        <iframe src="https://papers.gceguide.com/A%20Levels/Mathematics%20(9709)/2022/9709_s22_qp_11.pdf" frameborder="0" class="h-full outline-none w-full sm:w-5/6 mx-0 sm:mx-auto"></iframe>
    </div>
</div>