@{
    ViewData["Title"] = "Home";
}

<vc:sidebar></vc:sidebar>


<div id="dashboard" class="h-full ml-3 space-y-1 overflow-y-scroll">
    <h1 class="ml-0">Dashboard</h1>
    <div id="subjects-list">
        <h2 class="font-bold">My Subjects</h2>
        <div class="grid grid-flow-col auto-cols-min gap-8 overflow-x-auto">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="App" asp-action="PaperViewer" class="subject-item h-44 w-72 my-2 bg-gradient-to-br from-yellow-400 to-orange-600 rounded-3xl">
                    <h3 class="p-5 font-bold drop-shadow-xl">Maths</h3>
                </a>
            }
        </div>
    </div>

    <div id="recent-papers-list">
        <h2 class="font-bold">Recent</h2>
        <div class="grid grid-flow-col auto-cols-min gap-8 overflow-x-auto">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="App" asp-action="PaperViewer" class="subject-item h-44 w-72 my-2 p-5 bg-gradient-to-br from-gray-400 to-gray-600 rounded-3xl">
                    <div class="font-bold drop-shadow-xl">
                        <h4>Maths</h4>
                        <h3>Paper 1 - Feb/Mar (Zone 1)</h3>
                    </div>
                </a>
            }
        </div>
    </div>

    @* For page overflow testing: *@

    <div id="recent-papers-list">
        <h2 class="font-bold">Recent</h2>
        <div class="grid grid-flow-col auto-cols-min gap-8 overflow-x-auto">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="App" asp-action="PaperViewer" class="subject-item h-44 w-72 my-2 p-5 bg-gradient-to-br from-gray-400 to-gray-600 rounded-3xl">
                    <div class="font-bold drop-shadow-xl">
                        <h4>Maths</h4>
                        <h3>Paper 1 - Feb/Mar (Zone 1)</h3>
                    </div>
                </a>
            }
        </div>
    </div>
    
    <div id="recent-papers-list">
        <h2 class="font-bold">Recent</h2>
        <div class="grid grid-flow-col auto-cols-min gap-8 overflow-x-auto">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="App" asp-action="PaperViewer" class="subject-item h-44 w-72 my-2 p-5 bg-gradient-to-br from-gray-400 to-gray-600 rounded-3xl">
                    <div class="font-bold drop-shadow-xl">
                        <h4>Maths</h4>
                        <h3>Paper 1 - Feb/Mar (Zone 1)</h3>
                    </div>
                </a>
            }
        </div>
    </div>
    
    <div id="recent-papers-list">
        <h2 class="font-bold">Recent</h2>
        <div class="grid grid-flow-col auto-cols-min gap-8 overflow-x-auto">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="App" asp-action="PaperViewer" class="subject-item h-44 w-72 my-2 p-5 bg-gradient-to-br from-gray-400 to-gray-600 rounded-3xl">
                    <div class="font-bold drop-shadow-xl">
                        <h4>Maths</h4>
                        <h3>Paper 1 - Feb/Mar (Zone 1)</h3>
                    </div>
                </a>
            }
        </div>
    </div>
    
    <div id="recent-papers-list">
        <h2 class="font-bold">Recent</h2>
        <div class="grid grid-flow-col auto-cols-min gap-8 overflow-x-auto">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="App" asp-action="PaperViewer" class="subject-item h-44 w-72 my-2 p-5 bg-gradient-to-br from-gray-400 to-gray-600 rounded-3xl">
                    <div class="font-bold drop-shadow-xl">
                        <h4>Maths</h4>
                        <h3>Paper 1 - Feb/Mar (Zone 1)</h3>
                    </div>
                </a>
            }
        </div>
    </div>
</div>