@using Tech2023.Web.ViewModels;
@using Tech2023.Core;
@model NceaAssessmentViewModel
@{
    var standardName = Model.Resource.DisplayStandard();
    var subjectName = Model.Subject.Name.ToTitleCase();
}

<vc:sidebar></vc:sidebar>

<div>
    <h1 class="m-2 mx-3">@subjectName</h1>
    <div class="w-full overflow-x-hidden pr-1">
        <h3 class=" w-full bg-hint p-3 px-4 font-bold rounded-md">@standardName - @Model.Resource.Description</h3>
    </div>
</div>

@foreach (var paper in Model.Resource.Items) {
    <p>@paper.Year</p>
}