@model NceaItemViewModel
@{
    ViewData["Title"] = "Paper Viewer";
}
<vc:sidebar></vc:sidebar>

<div class="h-full w-full">
    <iframe id="paper-viewer" src="@Model.Item.Source">
            class="w-full md:w-[calc(100vw_-_var(--sidebar-width,_0rem))] overflow-clip"
            style="height: calc(100vh - var(--navbar-height, 0rem));">
    </iframe>
</div>