@using Tech2023.Core;
@using Tech2023.DAL.Models;
@model Subject;

@{
    string standardName = StringHelpers.ToTitleCase(Model.Name);

    ViewData["Title"] = $"Browse {Html.DisplayTextFor(s => s.Source)} {standardName}";
} 

<vc:sidebar></vc:sidebar> @* TODO: Make sidebar have relevant items *@

<h1>@standardName</h1>