@{
    ViewData["Title"] = "Paper Viewer";
    var paperLink = "https://papers.gceguide.com/A%20Levels/Mathematics%20(9709)/2022/9709_s22_qp_11.pdf";
}

<vc:sidebar></vc:sidebar> @* TODO: Make sidebar have relevant items *@

<div class="flex flex-col h-full w-full" onload="TS.viewer.forms.load('display-canvas', '@paperLink')">
    <div id="paper-navbar" class="flex flex-row items-center justify-between h-14 px-3 bg-secondary">
        <div class="flex flex-row space-x-3">
            <a asp-controller="App" asp-action="Home" class="material-symbols-rounded-sm">west</a>
            <div>
                <p class="text-xs font-bold text-light-hint leading-[0.5rem]">Mathematics</p>
                <h4 class="leading-5">Paper 1 - May/June 2022 - Variant 1</h4>
            </div>
        </div>
        <div class="flex flex-row space-x-4">
            <button id="paper-toggle">

            </button>
            <div class="flex flex-col">
                <div class="inline-flex space-x-1 bg-black p-1 rounded-md">
                    <a href="@paperLink" download class="inline-flex">
                        <span class="material-symbols-rounded-sm">download</span>
                        <p>Download</p>
                    </a>
                    <button class="material-symbols-rounded-sm"
                        onclick="interactions.element.toggleHiddenElement('paper-download-options');">expand_more</button>
                </div>
                <div id="paper-download-options" class="absolute hidden">
                    <ul class="flex flex-col space-y-1">
                        <li>
                            <a href="@paperLink" download>Question Paper</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <canvas id="display-canvas">
    </canvas>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
        pdf.viewer.load("display-canvas", '../assets/dev/dev_test_pdf.pdf');
    });
</script>