@{
    ViewData["Title"] = "Paper Viewer";
    var paperLink = "https://papers.gceguide.com/A%20Levels/Mathematics%20(9709)/2022/9709_s22_qp_11.pdf";
}

<div class="flex flex-col h-full">
    <div id="paper-navbar" class="flex flex-row items-center justify-between h-14 px-3 bg-secondary">
        <div class="flex flex-row space-x-3">
            <a asp-controller="App" asp-action="Home" class="material-symbols-rounded-sm">west</a>
            <div>
                <p class="text-xs font-bold text-light-hint leading-[0.5rem]">Mathematics</p>
                <h3 class="leading-5">Paper 1 - May/June 2022 - Variant 1</h3>
            </div>
        </div>
        <div class="flex flex-row space-x-4">
            <button id="paper-toggle">
                
            </button>
            <div class="flex flex-col">
                <div class="inline-flex space-x-1 bg-black p-1 rounded-md">
                    <a href="@paperLink" download class="inline-flex">
                        <span class="material-symbols-rounded-sm">download</span>
                        <p>Download</p>
                    </a>
                    <button class="material-symbols-rounded-sm" onclick="TS.interactions.toggleHiddenElement('paper-download-options');">expand_more</button>
                </div>
                <div id="paper-download-options" class="absolute hidden">
                        <ul class="flex flex-col space-y-1">
                            <li>
                                <a href="@paperLink" download>Question Paper</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <iframe src="@paperLink" frameborder="0" class="h-full outline-none w-full md:max-w-[70vw] md:resize-x mx-0 md:mx-auto"></iframe>
</div>
