/*! @import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply text-3xl py-2;
  }

  h2 {
    @apply text-2xl py-1;
  }

  h3 {
    @apply text-xl;
  }
}

@layer components {
  .bg-gradient-button {
    @apply bg-gradient-to-br from-primary to-indigo-800;
  }
}

/* /privacy */

footer#privacy-footer {
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}