<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tech2023.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="text-white bg-background">
    <header>
        <nav class="nav-bar z-50 px-2 sm:px-4 py-2.5 shadow-md bg-secondary text-white overflow-x-hidden">
            <div class="flex flex-wrap items-center justify-between h-16">
                <a class="text-center self-center flex items-center px-4 py-3 font-bold bg-primary rounded-2xl" asp-area="" asp-controller="App" asp-action="Home">Tech2023</a>
                <!-- WIP -->
                
                <div class="nav-items-container flex items-center mr-4 md:order-2">
                    <ul class="flex flex-row space-x-8 mt-0 font-bold text-white">
                        <li class="nav-item">
                            <button class="h-8 w-8 material-symbols-rounded">more_horiz</button>
                        </li>
                        <li class="nav-item">
                            <button class="h-8 w-8 material-symbols-rounded">account_circle</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <aside class="sidebar fixed left-0 max-h-screen h-screen w-min z-40 bg-secondary justify-end">
        <div id="top-bar" class="flex flex-row mt-2 px-2">
            <div class="bg-background rounded-full py-3 my-auto">
                <input type="text" name="search" placeholder="🔎 Search" autocomplete="off" id="search-bar" class="bg-background ml-4 mr-2 active: outline-none w-auto">
            </div>
            <button class="h-12 w-12 material-symbols-rounded relative navbar-toggler p-3 ml-1 hover:bg-background hover:rounded-full transition-all duration-200 ease-out" type="button" aria-controls="navbarSupportedContent"
               aria-expanded="false" aria-label="Toggle navigation">
                left_panel_close
            </button>
        </div>
        <div id="subject-list" class="flex flex-col">
            @for(int i = 0; i < 5; i++)
            {
                <div class="subjects bg-secondary hover:bg-background py-3 mx-4 my-1 rounded-xl shadow-xl w-auto transition-colors duration-75 ease-linear">
                    <div class="flex flex-row px-4 font-semibold items-center justify-start text-md">
                        <div class="subject-icon w-6 h-6 rounded-md bg-red-500 mr-3"></div>
                        <p>Maths</p>
                    </div>
                </div>
            }
        </div>
    </aside>

    <main role="main" id="main-body">
        @RenderBody()
    </main>

    <footer class="">
        <div class="fixed flex justify-end items-end bottom-0 right-1 w-auto text-slate-100 text-sm font-semibold">
            &copy; @(DateTime.UtcNow.Year == 2023 ? 2023 : $"2023 - {DateTime.UtcNow.Year}") - Duo2023 - &ThinSpace;<a class="hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>