<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tech2023.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="text-white bg-background">
    <header>
        <nav class="nav-bar px-2 sm:px-4 py-2.5 shadow-md bg-secondary text-white">
            <div class="container flex flex-wrap items-center justify-between w-screen h-16">
                <a class="text-center self-center flex items-center px-4 py-3 font-bold bg-primary rounded-2xl" asp-area="" asp-controller="Home" asp-action="Index">Tech2023</a>
                <!-- WIP -->
                
                <div class="nav-items-container flex items-center md:order-2">
                    <ul class="flex flex-row space-x-8 mt-0 font-bold text-white">
                        <li class="nav-item">
                            <button class="h-8 w-8 material-symbols-rounded">more_horiz</button>
                        </li>
                        <li class="nav-item">
                            <button class="h-8 w-8 material-symbols-rounded">account_circle</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="main-body absolute">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="fixed flex justify-end items-end bottom-0 right-1 w-auto text-slate-100 text-sm font-semibold">
            &copy; @(DateTime.UtcNow.Year == 2023 ? 2023 : $"2023 - {DateTime.UtcNow.Year}") - Duo2023 - &ThinSpace;<a class="hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>