@using Tech2023.Core;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tech2023.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="text-white bg-background">
    <header>
        <nav class="nav-bar z-50 px-2 sm:px-4 py-2.5 shadow-md bg-secondary text-white overflow-x-hidden">
            <div class="flex flex-wrap items-center justify-between h-16">
                <a class="text-center self-center flex items-center px-4 py-3 font-bold bg-primary rounded-2xl" asp-area="" asp-controller="Home" asp-action="Index">Tech2023</a>
                <!-- WIP -->
                
                <div class="nav-items-container flex items-center mr-8 md:order-2">
                    <div class="flex flex-row space-x-8 mt-0 text-white font-semibold">
                        <button class="nav-link px-4 py-2 rounded-2xl hover:underline">Log In</button>
                        <button class="nav-link bg-gradient-button px-4 py-2 rounded-2xl">Register</button>
                    </div>
                </div>
            </div>
        </nav>
        @{
            if (EnvironmentConfiguration.IsDebug)
            {
                <div class="fixed flex flex-row justify-around items-center bg-background font-bold border-t-0 border-2 border-hint right-16 rounded-br-3xl rounded-bl-3xl px-4 py-1">
                    <button id="status-button" class="text-white hover:underline pr-4" onclick="TS.statistics.updateButton()">Api Status: </button>
                    <p id="status-text" type="button" class="flex justify-center items-center bg-[#45fe57] text-background h-5 w-10 rounded-md">200</p>
                </div>
            }
        }
    </header>

    <main role="main" id="main-body">
        @RenderBody()
    </main>

    <footer class="fixed bottom-0 right-0 px-2">
        <div class="flex justify-end items-end w-auto text-slate-100 text-sm font-semibold">
            &copy; @(DateTime.UtcNow.Year == 2023 ? 2023 : $"2023 - {DateTime.UtcNow.Year}") - Duo2023 - &ThinSpace;<a class="hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- -->
    <script type="text/javascript" asp-src-include="~/js/runtime*.js"></script>
    <script type="text/javascript" asp-src-include="~/js/vendors*.js"></script>
    <script type="text/javascript" asp-src-include="~/js/main*.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>