@{
    var sidebarWidth = "256px";

    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tech2023.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="text-white bg-background">
    <header>
        <nav class="relative shadow-md bg-secondary text-white">
            <div class="container flex flex-wrap items-center justify-between top-0 left-0 w-screen h-16 m-0">
                <a class="text-center self-center flex items-center mx-4 px-4 py-3 font-bold bg-blue-700 rounded-2xl" asp-area="" asp-controller="Home" asp-action="Index">Tech2023</a>
                <!-- WIP -->
                
                <div class="nav-links w-auto">
                    <ul class="flex flex-row space-x-8 mt-0 font-bold text-white">
                        <li class="nav-item ">
                            <a class="nav-link block" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link block" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="sidebar">
        <aside class="side-bar fixed left-0 max-h-screen h-screen z-40 bg-secondary" style="width: @sidebarWidth;">
            <div class="container flex">
                <button class="relative navbar-toggler justify-center p-4 right-0" type="button" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="material-symbols-rounded">left_panel_close</span>
            </button>
            </div>
        </aside>
        <main role="main" class="absolute p-10" style="left: @sidebarWidth;">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="fixed flex justify-center items-center bottom-0 left-0 w-screen leading-10 text-slate-100 bg-secondary border-t-2 border-zinc-500 border-opacity-50 border-">
            &copy; 2023 - Tech2023.Web - <a class="hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>