<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @RenderSection("PreloadLogo", required: false)
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        :root {
            --navbar-height: 4.75rem;
        }
    </style>

    <link rel="preload" as="script" type="text/javascript" href="~/js/runtime.min.js" asp-append-version="true">
    @* <link rel="preload" as="script" type="text/javascript" href="~/js/interactions-vendors.min.js"
    asp-append-version="true"> *@
    <link rel="preload" as="script" type="text/javascript" href="~/js/interactions.min.js" asp-append-version="true">
</head>

<body class="bg-background text-white overscroll-none">
    <div class="h-screen overscroll-none text-white bg-background">
        <header style="height: var(--navbar-height, 0rem)">
            <partial name="_NavbarPartial"></partial>
        </header>

        <main role="main" id="main" style="height: calc(100dvh - var(--navbar-height, 0rem))">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed bottom-0 right-0 px-2 pointer-events-none">
        <div class="flex justify-end items-end w-auto text-slate-100 text-sm font-semibold">
            <a class="underline hover:no-underline pointer-events-auto" asp-controller="Home"
                asp-action="Privacy">Privacy</a>
            &ThinSpace;⋅ Grades Up &copy; @(DateTime.UtcNow.Year == 2023 ? 2023 : $"2023 - {DateTime.UtcNow.Year}")
        </div>
    </footer>

    <script type="text/javascript" asp-src-include="~/js/runtime.min.js" asp-append-version="true"></script>
    @* <script type="text/javascript" asp-src-include="~/js/interactions-vendors.min.js"
    asp-append-version="true"></script> *@
    <script type="text/javascript" asp-src-include="~/js/interactions.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
