<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tech2023.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="text-white bg-background">
    <header>
        <nav class="relative shadow-md bg-secondary text-white">
            <div class="container flex items-center justify-start top-0 left-0 w-screen h-16 m-0">
                <a class="absolute text-center flex items-center mx-4 px-4 py-3 font-bold bg-blue-700 rounded-2xl" asp-area="" asp-controller="Home" asp-action="Index">Tech2023</a>
                <!-- WIP -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <aside class="side-bar fixed left-0 max-h-screen h-screen w-64 z-40 bg-secondary">
            <p>hello</p>
        </aside>
        <main role="main" class="absolute left-64 p-10 ">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="fixed flex justify-center items-center bottom-0 left-0 w-screen leading-10 text-slate-100 bg-secondary border-t-2 border-zinc-500 border-opacity-50 border-">
            &copy; 2023 - Tech2023.Web - <a class="hover:underline" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@code {
    private const string SIDEBAR_WIDTH = "256px";
}