﻿@using Microsoft.AspNetCore.Identity
@using Tech2023.DAL;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-items-container flex items-center mr-4">
        <div class="flex flex-row space-x-8 text-white">
            <button id="more" class="material-symbols-rounded">more_horiz</button>
            <button id="account-circle" class="material-symbols-rounded">account_circle</button>
        </div>
    </div>
}
else
{
    <div class="nav-items-container flex items-center">
        <div class="flex flex-row space-x-4 mt-0 text-white font-semibold">
            <a class="nav-link px-4 py-2 rounded-2xl hover:underline" asp-area="Identity" asp-page="/Account/Login">Log In</a>
            <a class="nav-link px-4 py-2 rounded-2xl bg-gradient-button" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
    </div>
}