@using Tech2023.Web.Shared.Authentication;
@model EmailAddress
@{
    ViewData["Title"] = "Forgot Password?";
}

<div class="flex h-full justify-center items-center">
    <div class="bg-secondary rounded-3xl shadow-2xl">
        <div class="flex flex-col items-center mx-8 my-8">
            <h1 class="font-bold mb-4">Forgot Password</h1>
            <form class="w-72 flex flex-col" asp-action="SendReset" asp-controller="User" method="post">
                <h4 class="w-full bg-background p-3 border-2 border-hint rounded-2xl">We will send a <strong>password reset link</strong> to your registered E-mail ID.</h4>
                <div class="flex flex-col">
                    <label asp-for="Email" class="ml-2 font-semibold leading-7">Email:</label>
                    <input asp-for="Email" data-val-email="Invalid E-mail Address" class="w-full px-4 py-3 rounded-2xl bg-background outline-none 
                  border-light-hint border-2 border-opacity-0 focus:border-opacity-75 transition-all duration-75 ease-out">
                    <span asp-validation-for="Email" class="mx-2 font-semibold text-red-500 empty:opacity-0 transition-all duration-200"></span>
                </div>
                <button id="send-button" type="submit" class="bg-primary font-bold px-4 py-3 my-2 rounded-xl">Send</button>
            </form>
            <a class="text-sm underline hover:no-underline p-2" asp-controller="User" asp-action="Login">Back To Login</a>
        </div>
    </div>
</div>  
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 