@{
    ViewData["Title"] = "Register";
}

<div class="flex h-full justify-center items-center">
    <div class="bg-secondary rounded-3xl shadow-2xl">
        <div class="flex flex-col items-center mx-8 my-8">
            <h1 class="font-bold mb-4">Register</h1>
            <form id="register-form" class="flex flex-col space-y-4" action="" method="post">
                <div class="flex flex-col">
                    <label for="username" class="ml-2 font-semibold leading-7">Username: </label>
                    <input type="text" name="username" id="username" placeholder="Enter username" class="w-72 px-4 py-3 rounded-2xl bg-background outline-none
                        border-light-hint border-2 border-opacity-0 focus:border-opacity-75 focus:invalid:border-red-600 transition-all duration-75 ease-out">
                </div>
                <div class="flex flex-col">
                    <label for="password" class="ml-2 font-semibold leading-7">Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter password" 
                        class="group w-72 px-4 py-3 rounded-2xl bg-background outline-none border-light-hint border-2 border-opacity-0 focus:border-opacity-75 
                        focus:invalid:border-red-600 focus:valid:border-green-500 transition-all duration-75 ease-out">
                </div>
                <div class="flex flex-col">
                    <label for="confirm-password" class="ml-2 font-semibold leading-7">Confirm Password: </label>
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" 
                        class="group w-72 px-4 py-3 rounded-2xl bg-background outline-none border-light-hint border-2 border-opacity-0 focus:border-opacity-75 
                        focus:invalid:border-red-600 focus:valid:border-green-500 transition-all duration-75 ease-out">
                    <div class="flex flex-row px-2 pb-2 pt-1">
                        <input id="show-password-checkbox" type="checkbox" value="false">
                        <label for="show-password-checkbox" id="show-password-text" class="ml-2 text-sm">Show passwords</label>
                    </div>
                </div>
                <div class="w-72 bg-background p-3 border-2 border-red-500 rounded-2xl hidden">
                    <h4 class="font-bold text-red-500">Invalid username</h4>
                    <p class="text-sm">Please enter a username</p>
                </div>
                <div class="w-72 bg-background p-3 border-2 border-red-500 rounded-2xl hidden">
                    <h4 class="font-bold text-red-500">Invalid password</h4>
                    <p class="text-sm">Must contain atleast:<br> 8 letters, one uppercase and lowercase characters</p>
                </div>
                <div class="w-72 bg-background p-3 border-2 border-red-500 rounded-2xl hidden">
                    <h4 class="font-bold text-red-500">Invalid passwords</h4>
                    <p class="text-sm">Passwords do not match!</p>
                </div>
                <button id="register-button" type="submit" class="bg-primary font-bold px-4 py-3 rounded-xl">Register</button>
            </form>
            <br/>
            <a class="text-sm underline hover:no-underline" asp-controller="User" asp-action="Login">Already have an account?</a>
        </div>
    </div>
</div>